* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

.loader {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url('./img/book-loading.gif') no-repeat center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Navbar */
#topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: yellowgreen;
  padding: 0 20px;
  white-space: nowrap;
  z-index: 10;
}

#logo {
  display: flex;
  align-items: center;
}

#searchForm {
  position: relative;
  width: 12rem;
  height: 2.2rem;
  margin: 0 10px;
}

#search {
  width: 100%;
  min-width: 5rem;
  height: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 1.1rem;
  padding: 0 2.5rem 0 1rem;
}

#search:focus {
  outline: 2px solid green;
}

.searchBtn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: green;
  border-radius: 50%;
  right: 0.15rem;
}

#navEcho {
  height: 60px;
  margin-bottom: 10px;
}

.label {
  background-color: greenyellow;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid;
  border-bottom: none;
  cursor: pointer;
}

.label:last-child {
  border-bottom: 1px solid;
}

/* Book list */
.bookContainer {
  position: relative;
  align-self: flex-end;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  height: 500px;
  margin: 15px;
  padding: 15px;
  background-color:beige;
  border-radius: 10px;
}

.bookImage {
  width: 200px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 300;
  padding: 3rem; 
  border-top: 4px solid yellowgreen;
  margin-top: 20px;
  font-size: 1.2rem; 
}


/* Details page */
.bookDetails {
  width: fit-content;
  margin: 10px;
  padding: 20px;
  background-color: beige;
  border-radius: 10px;
}

.description {
  max-width: 500px;
}

.confirm {
  display: none;
  position: absolute;
  width: 400px;
  padding: 2rem;
  background-color: rgb(85, 226, 85);
  text-align: center;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Cart page */
.basket {
  margin: 10px auto 30px auto;
}

.cartImg {
  width: 60px;
}

.fa-plus:hover,
.fa-minus:hover {
  cursor: pointer;
}

/* Tags */
a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0.5rem;
}


input[type='text'],
input[type='number'] {
  font-size: 1rem;
  padding: 2px 5px 0;
}



/* Classes */
.btn,
.greenBtn,
.redBtn,
.yellowBtn {
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.btn {
  background-color: #018749;
}

.btn:hover {
  background-color: #568203;
}

.btn:active {
  background-color: #4D5D53;
}

.greenBtn {
  background-color: #00bc8c;
}

.greenBtn:hover {
  background-color: #009b74;
}

.greenBtn:active {
  background-color: #005e46;
}

.redBtn {
  background-color: #D2122E;
}

.redBtn:hover {
  background-color: #EF0107;
}

.redBtn:active {
  background-color: #7c2b22;
}

.yellowBtn {
  background-color: #FFD700;
}

.yellowBtn:hover {
  background-color: #F0E68C;
}

.yellowBtn:active {
  background-color: #FFC72C;
}

.btnItems {
  display: inline-block;
  background-color: #e74c3c;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 50%;
}

.flex {
  display: flex;
}

.flexWrapCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dontAlign {
  align-items: unset;
}

.column {
  flex-direction: column;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.capitalize {
  text-transform: capitalize;
}

.largeFont {
  font-size: 1.4rem;
}

.largerFont {
  font-size: 2rem;
}

.centerText {
  text-align: center;
}

.justify {
  text-align: justify;
}

.redText {
  color: #A50021;
}

.blackText {
  color: black;
}

.greenText {
  color:  #A50021;
}

.blueText {
  color: #375a7f;
}

.redBg {
  background-color:  #A50021;
}

.marginTop70 {
  margin-top: 70px;
}

.marginTop {
  margin-top: 20px;
}

.marginRight {
  margin-right: 0.4rem;
}

.marginLeftS {
  margin-left: 0.4rem;
}

.marginRightL {
  margin-right: 2rem;
}

.marginLeft {
  margin-left: 2rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.paddingBottom {
  padding-bottom: 1rem;
}

.centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.positionFixed {
  position: fixed;
}

.positionRelative {
  position: relative;
}

.displayNone {
  display: none;
}
/* Table */
.table {
  width: 80vw;
  text-align: center;
  text-transform: capitalize;
  border-collapse: collapse;
  margin: 40px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.table th {
  background-color: beige;
}
.table th,
.table td {
  padding: 12px 15px;
}
.table tr {
  border-bottom: thin solid #dddddd;
}
.table tr:nth-of-type(odd) {
  background-color: beige;
}

/* Stilizare pentru ecrane mai mici */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .bookContainer {
    margin-top: 60px;
  }
  .basket {
    margin: 10px auto 20px auto;
  }
  .tableDiv {
    margin-top: 20px;
  }
}

/* Stilizare pentru ecrane mai mici */
@media screen and (max-width: 480px) {
  .table th,
  .table td {
    padding: 8px 10px;
  }
  
}





