* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 20px;
}

header {
  background-color: greenyellow;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar-left {
  flex-grow: 1;
}

.navbar-brand {
  font-size: 50px;
  font-weight: bold;
}

.navbar-middle {
  flex-grow: 2;
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  width: 300px;
  padding: 6px;
  font-size: 16px;
}

.search-form button {
  padding: 6px 10px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar-right {
  flex-grow: 1;
  text-align: right;
}

.navbar-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 220px;
  height: 500px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.book-image {
  width: 200px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.card button:hover {
  background-color: #45a049;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4pxrgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.author {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="number"] {
  width: 60px;
}

#total-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

